body {
  background-image: url(../images/backg.svg);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  margin: 0;
  color: #e0e0e0;
}

.chat-container {
  width: 900px;
  height: 500px;
  border-radius: 8px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.chat-box {
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
  background-color: #252525;
}

.chat-input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #181818;
  border-top: 1px solid #444;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-top: 15px;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.fa-angles-right {
  position: absolute;
  right: 25px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #4CAF50;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.message i {
  font-size: 20px;
  margin-right: 10px;
  color: #4CAF50;
}

.message span {
  font-size: 16px;
  background-color: #333;
  color: #e0e0e0;
  padding: 8px 15px;
  border-radius: 20px;
  max-width: 70%;
}

.message.sent {
  justify-content: flex-end;
}

.message.sent i {
  order: 2;
  margin-left: 10px;
}

.message.sent span {
  background-color: #919191;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  max-width: 70%;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  cursor: pointer;
  color: #e0e0e0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #181818;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.chat-container {
  width: 80%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #222;
  border-radius: 4px;
  height: 70vh;
}

.chat-input {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  outline: none;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

.chat-input i {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #919191;
}

