body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    margin: 0;
  }
  
  .chat-container {
    width: 900px;
    height: 500px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .chat-box {
    height: 400px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #f9f9f9;
  }
  
  .chat-input {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 15px;
  }
  
  .fa-angles-right {
    position: absolute;
    right: 25px;  /* Coloca o ícone na extremidade direita do input */
    top: 60%;  /* Alinha o ícone verticalmente ao centro do input */
    transform: translateY(-50%); /* Ajusta o alinhamento para que o ícone fique centrado verticalmente */
    font-size: 20px;  /* Tamanho do ícone */
    cursor: pointer;  /* Para tornar o ícone clicável */
  }


  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .message i {
    font-size: 20px;
    margin-right: 10px; /* Espaço entre o ícone e a mensagem */
  }
  
  .message span {
    font-size: 16px;
  }

  .message.sent {
    justify-content: flex-end; /* Alinha a mensagem à direita */
  }
  
  .message.sent i {
    order: 2; /* Coloca o ícone à esquerda da mensagem */
    margin-left: 10px;
  }
  
  .message.sent span {
    background-color: #4CAF50; /* Cor de fundo para mensagens enviadas */
    color: white; /* Cor do texto */
    padding: 8px 15px;
    border-radius: 20px;
    max-width: 70%;
  }